html{
    font-size: 62.5%;
}
:root{

    --color-primary:#4bc1d2;
    --color-secondary:#03151e;
    --color-selection:#C8DBE3;

    --fontSize-p:2.88rem;
    --fontSize-p-collection:1.7rem;
    --fontSize-h1:7.2rem;
    --fontSize-h2:5.44rem;
    --fontSize-h3:4.8rem;
    --fontSize-btn-black:1.92rem;
    --fontSize-btn-blue:2.4rem;

    --fontWeight-p:300;
    --fontWeight-h1:900;
    --fontWeight-btn:700;

    --lineHeight-p:4.60rem;
    --lineHeight-h1:1;

}
*{
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s;
    position: relative;
}
*::selection{
    background-color: var(--color-selection);
}
h1,h2,h3{
    font-weight: var(--fontWeight-h1);
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: var(--fontSize-h1);
    line-height: var(--lineHeight-h1);
    text-align:center;
}
h2{
    font-size: var(--fontSize-h2);
    text-align: center;
}
h3{
    font-size: var(--fontSize-h3);
}
p{
    font-size: var(--fontSize-p);
    font-weight: var(--fontWeight-p);
    line-height: var(--lineHeight-p);
    margin: 20px 0;
    
}
a{
    text-decoration: none;
    
}

@media screen and (max-width:640px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3.5rem;
    }
    h3{
        font-size: 2.88rem;
    }
    p{
        font-size: 1.76rem;
        line-height: 1.6;
    }
}

/* Buttons */

.btn-black{
    background-color: var(--color-secondary);
    font-size: var(--fontSize-btn-black);
    border: 3px solid var(--color-secondary);
    padding: 0.8rem 2.8rem;
    color: white;
    border-radius: 10rem;
    text-decoration: none;
}
.btn-black-1{
    margin:0 0 0 2rem;
}
.btn-black-2{
    margin:0 2rem 0 4rem;
}
.btn-black:hover{
    background-color: white;
    color: black;
}
.btn-blue{
    background-color: var(--color-primary);
    font-size: var(--fontSize-btn-blue);
    border: 1px solid white;
    border-radius: 10rem;
    text-decoration: none;
    margin: 1.6rem auto;
    padding: 1rem 3rem;
    color: white;
    font-weight: var(--fontWeight-btn);
    width: fit-content;
}

/* CONTAINER */

.container{
    width: 100%;
    display: grid;
    grid-template: repeat(2,auto)/auto;
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
    max-width: 1170px;
    margin: 3rem 0 0 0;
}
.container div1{
    width: 100%;
}
.container div2{
    width: 100%;
}
.container video,.container img{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    border-radius: 1.5rem;
}
.container p{
    text-align: center;
}

@media screen and (min-width:1024px) {
    .container{
        grid-template: auto / repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
    .container video,.container img{
        width: 100%;
    }
}

/* NAVIGATION SECTION */
nav{
    width: 100%;
    padding: 3rem 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    z-index: 100;
    background-color: white;
}
.nav-bar{
    width: 100%;
    max-width: 1170px;
    display: flex;
    font-size: var(--fontSize-btn-black);
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.nav-logo{
    width: 14.5rem;
}
.nav-logo-cont{
    margin: 0 0 0 2rem;
}
.nav-logo-cont{
    background-color: black;
}
.nav-item{
    padding: 1rem 3rem;
    border-radius: 1rem;
}
.nav-item:hover{
    background-color: #b3e0e7;
    border: 1px solid gray;
    border-radius: 1rem;
    text-decoration: underline;
}
.icon-menu{
    margin: 0 2rem 0 0;
}
.icon-menu:hover{
    cursor: pointer;
}
.nav-item,.btn-black{
    display: none;
}

@media screen and (min-width:1024px) {
    .icon-menu{
        display: none;
    }
    .nav-item, .btn-black{
        display: inline-block;
    }
    
}
@media screen and (max-width:640px) {
    nav{
        padding: 15px 0;
    }
}

/* CATALOGUE SECTION */

.catalogue{
    margin: 20rem auto 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.catalogue__cont-1{
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 0 1.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalogue__cont-1 p{
    text-align: center;
}
.catalogue__cont-1 h1{
    text-align: center;
}
.catalogue__cont-2{
    margin: 0 auto;
}
.catalogue__cont-2 video{
    width: 100%;
    max-width: 98rem;
    padding: 0 3rem;
    margin: 0 auto;
}
@media screen and (max-width:640px) {
    .catalogue{
        margin: 10rem auto ;
    }
    .catalogue__cont-1 p{
        display: none;
    }
}
/* COLLECTIONS SECTION */

.collection{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-width: 730px;
    margin: 1.7rem auto;
}
.collection p{
    font-size: var(--fontSize-p-collection);
    text-align: center;
    line-height: 2;
    font-weight: 400;
}
@media screen and (max-width:640px) {
    .collection{
        padding: 0 3rem;
    }
}

/* FEATURE SECTION */

.feature{
    padding: 0 1.5rem;
    margin: 10rem 0 6rem 0;
}
.feature-cont{
    margin: 10rem auto;
}

/* REVIEW SECTION */

.review{
    width: 100%;
    padding: 15rem 0;
}
.review-cont{
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    z-index: 50;
}
.review p{
    text-align: center;
}
.review img{
    width: 350px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}
@media screen and (max-width:768px) {
    .review img{
        display: none;
    }
    .review{
        padding: 0 2rem;
    }
}

/* TRUST SECTION */
.trust{
    width: 100%;
    max-width: 1170px;
    padding: 15rem 0;
    margin: 0 auto;
}
.trust .trust__img{
    width: 20%;
}
.trust__img-div{
    display: flex;
    width: 100%;
    flex-basis: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 4.5rem 0 0;
}

/* Get App Section */
.get-app{
    margin:0 auto;
    max-width: 1170px;
}
.get-app div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-store,.play-store{
    width: 10rem;
    justify-items: center;
    margin: 2rem 0 0 0;
}
.get-app__img{
    width: 50%;
    margin: 0 auto;
}
.get-app p,.get-app h2{
    text-align: start;
}