<section class="feature">
    <div class="container feature-cont">
      <div class="feature__cont-1 div1">
        <h3>Automatic Data for Books, Movies, Music and Video Games</h3>
        <p>
          Just scan your ISBN/UPC barcode using a physical scanner or our free
          mobile apps and we take care of the rest.
        </p>
      </div>
      <div class="feature__con-2 div2">
        <video src="/videos/feature.mp4" autoplay loop></video>
      </div>
    </div>
    <div class="container reverse feature-cont">
      <div class="feature__cont-1 div1">
        <img
          src="https://www.libib.com/img/public/home/cloud.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="feature__cont-2 div2">
        <h3>
          Cloud Sync keeps your collections updated across multiple devices.
        </h3>
        <p>Access your collections from anywhere on virtually any device.</p>
      </div>
    </div>
    <div class="container feature-cont">
      <div class="feature__cont-1 div1">
        <h3>Libib Pro Users Can Access Even More Power.</h3>
        <p>
          Mix and match media types freely. We’re flexible on purpose so you
          can organize your collections to fit your needs. Books, movies,
          music, and games - keep them together or separate.
        </p>
      </div>
      <div class="feature__con-2 div2">
        <img
          src="https://www.libib.com/img/public/home/mixed-media-blue.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div class="container reverse feature-cont">
      <div class="feature__cont-1 div1">
        <img
          src="https://www.libib.com/img/public/home/published.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="feature__con-2 div2">
        <h3>Automatic Data for Books, Movies, Music and Video Games</h3>
        <p>
          Need lending, patron management, custom fields, barcode management,
          single click restorations, or an interactive online library? Libib
          Pro brings an abundance of additional enhancements to the table.
        </p>
      </div>
    </div>
  </section>