<section class="trust">
    <h3>Trusted By Big Companies</h3>
    <div class="trust__img-div">
      <img src="https://www.libib.com/img/public/logos/google.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/harvard.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/underarmour.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/peace-corp.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/nasa.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/kipp.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/ea.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/ck.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/cambridge.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/mailchimp.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/salvation-army.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/berkeley.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/target.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/airbnb.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/sony.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/disney.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/ubisoft.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/nickelodeon.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/yelp.jpg" alt="" class="trust__img">
      <img src="https://www.libib.com/img/public/logos/nat-geo.jpg" alt="" class="trust__img">
    </div>
  </section>